# Ignore virtual environment
venv
env

# Ignore Python compiled files
.pyc
.pyo
.pyd
__pycache__

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore data files
.zip
.pdf

# Ignore folders
otherfiles/

# Ignore shapefiles
shapefiles/NextGen_Zone_*